// Config
// This file configures PicoCSS.
// @see for full list of options https://v2.picocss.com/docs/sass#custom-theme
//

@use "pico" with ($css-var-prefix: "--autopilot-",
  $parent-selector: ".autopilot",
  $enable-semantic-container: false,
  $enable-classes: false,
  $theme-color: "indigo",
  $modules: ("themes/default": false,
  ));

// Autopilot Theme
@use "themes/autopilot"
