// Configuration
// --------------------

//TODO: add documentation comments to CORE and MODULAR files for explain usage

// Enable <header>, <main>, <footer> inside <body> as a container
$enable-semantic-container: true;

// Enable a centered viewport for <header>, <main>, <footer> inside <body>
$enable-viewport: true;

// Enable .classes - no classes, just semantic HTML
$enable-classes: true;

// Airframe Library
// --------------------

@import "airframe";
