// Configuration
// --------------------

// Enable <header>, <main>, <footer> inside <body> as a container
$enable-semantic-container: true;

// Enable .classes
$enable-classes: false;

// Airframe Library
// --------------------

@import "airframe";
