{% extends "./default.njk" %}
{% from 'macros/component.njk' import component %}
{% block main %}
  <header>
    {% block pageTitle %}
      {%- set pageTitle %}
      {% if title %}
        {{ title }}
      {% else %}
        {{ site.title }}
      {% endif %}
      {%- endset -%}

      {%- set pageTagline %}
      {% if tagline %}
        {{ tagline }}
      {% endif %}
      {%- endset -%}

      {% if tagline %}
        <hgroup>
          <h1>{{ pageTitle | safe }}</h1>
          <h2>{{ pageTagline | safe }}</h2>
        </hgroup>
      {% else %}
        <h1>{{ pageTitle | safe }}</h1>
      {% endif %}

      <iframe src="https://giphy.com/embed/tyttpHbz8gAaBfi5auY" width="480" height="327" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p>
        <a href="https://giphy.com/gifs/giffffr-tyttpHbz8gAaBfi5auY">via GIPHY</a>
      </p>
    {% endblock %}
  </header>

  <hr>
  {% block content %}
    {{ content | safe }}
  {% endblock %}

{% endblock %}
