{% extends "./page.njk" %}
{% block main %}
  <div class="flex --column --align-items-center">
    {% block header %}
      <h1 class="text --size-poster space --bottom-none">{{ title | safe }}</h1>
      <h2 class="text --size-xl">{{ tagline | safe }}</h2>
    {% endblock header %}

    {% block content %}
      {{ content | safe }}
    {% endblock content %}
  </div>
{% endblock main %}
