<!DOCTYPE html>
<html lang="en" x-data="theme" :data-theme="[isDarkMode ? 'dark' : 'light']">

	<head>
		{%- include "partials/meta.njk" -%}
	</head>

	<body class="rfg">
		<header>
			{% include "partials/navigation.njk" %}
		</header>
		<!-- Main-->
		<main class="container rfg" aria-label="Content">

			{%- block main %}{% endblock -%}

			{% include "partials/footer.njk" %}
		</main>
		<!-- End Main -->
	</body>

</html>
