<!DOCTYPE html>
<html lang="en"
x-data="theme"
:data-theme="[darkMode ? 'dark' : 'light']"
>
  <head>
    {%- include "partials/meta.njk" -%}
  </head>

  <body>
    <header>
      {% include "partials/navigation.njk" %}
    </header>
    <!-- Main-->
    <main class="container" aria-label="Content">

      {%- block main %}{% endblock -%}

    </main>
    <!-- End Main -->
    {% include "partials/footer.njk" %}
  </body>

</html>
