<!DOCTYPE html>
<html lang="en"
x-data="themeSwap()"
 :data-theme="[darkMode ? 'dark' : 'light']"

>
  <head>
    {%- include "partials/meta.njk" -%}
  </head>

  <body>
    <div class="vgs-cursor cursor-outer"></div>
    <div class="vgs-cursor cursor-inner"></div>
    {% include "partials/navigation.njk" %}
    <!-- Main-->
    <main class="container" aria-label="Content">

      {%- block main %}{% endblock -%}

      {% include "partials/footer.njk" %}
    </main>
    <!-- End Main -->
    <script>
      function themeSwap() {
        return {
          darkMode: localStorage.getItem('darkMode') === 'true',
          toggleDarkMode() {
            this.darkMode = !this
              .darkMode
              localStorage
              .setItem('darkMode', this.darkMode)
          }
        }
      }
    </script>
  </body>

</html>
