<!DOCTYPE html>
<html lang="en" data-theme="">
  <head>
    {%- include "partials/meta.njk" -%}
  </head>

  <body>
    <div class="vgs-cursor cursor-outer"></div>
    <div class="vgs-cursor cursor-inner"></div>
    {% include "partials/navigation.njk" %}
    <!-- Main-->
    <main class="container" aria-label="Content">

      {%- block main %}{% endblock -%}

      {% include "partials/footer.njk" %}
    </main>
    <!-- End Main -->

  </body>

</html>
