{% extends "./base.njk" %}
{% block main %}
  <header>
    {% block pageTitle %}
      {%- set pageTitle %}
      {% if title %}
        {{ title }}
      {% else %}
        {{ site.title }}
      {% endif %}
      {%- endset -%}
      {%- set pageTagline %}
      {% if tagline %}
        {{ tagline }}
      {% else %}
        {{ site.description }}
      {% endif %}
      {%- endset -%}
      {% if tagline %}
        <hgroup>
          <h1>{{ pageTitle | safe }}</h1>
          <h2 class="text --size-xxs space --top-xxs">{{ pageTagline | safe }}</h2>
        </hgroup>
      {% else %}
        <h1>{{ pageTitle | safe }}</h1>
        <h2 class="text --size-xxs space --top-xxs">{{ pageTagline | safe }}</h2>
      {% endif %}
    {% endblock pageTitle %}
  </header>
  <hr>
  {% block content %}

    {{ content | safe }}

  {% endblock %}

{% endblock %}
