/* ----------------------------------------------------------------------------
element styles
---------------------------------------------------------------------------- */

/**
 * Document
 * Content-box & Responsive typography
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root) {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  background-color: var(--autopilot-background-color);
  color: var(--autopilot-color);
  font-weight: var(--autopilot-font-weight);
  font-size: var(--autopilot-font-size);
  line-height: var(--autopilot-line-height);
  font-family: var(--autopilot-font-family);
  text-underline-offset: var(--autopilot-text-underline-offset);
  text-rendering: optimizelegibility;
  overflow-wrap: break-word;
  tab-size: 4;
}

/**
 * Landmarks
 */
body {
  width: 100%;
  margin: 0;
}

main {
  display: block;
}

body > header,
body > main,
body > footer {
  padding-block: var(--autopilot-block-spacing-vertical);
}

/**
 * Section
 */
section {
  margin-bottom: var(--autopilot-block-spacing-vertical);
}

/**
 * Typography
 */
b,
strong {
  font-weight: bolder;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
  margin-top: 0;
  margin-bottom: var(--autopilot-typography-spacing-vertical);
  color: var(--autopilot-color);
  font-style: normal;
  font-weight: var(--autopilot-font-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--autopilot-typography-spacing-vertical);
  color: var(--autopilot-color);
  font-weight: var(--autopilot-font-weight);
  font-size: var(--autopilot-font-size);
  line-height: var(--autopilot-line-height);
  font-family: var(--autopilot-font-family);
}

h1 {
  --autopilot-color: var(--autopilot-h1-color);
}

h2 {
  --autopilot-color: var(--autopilot-h2-color);
}

h3 {
  --autopilot-color: var(--autopilot-h3-color);
}

h4 {
  --autopilot-color: var(--autopilot-h4-color);
}

h5 {
  --autopilot-color: var(--autopilot-h5-color);
}

h6 {
  --autopilot-color: var(--autopilot-h6-color);
}

:where(article, address, blockquote, dl, figure, form, ol, p, pre, table, ul) ~ :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--autopilot-typography-spacing-top);
}

p {
  margin-bottom: var(--autopilot-typography-spacing-vertical);
}

hgroup {
  margin-bottom: var(--autopilot-typography-spacing-vertical);
}

hgroup > * {
  margin-top: 0;
  margin-bottom: 0;
}

hgroup > *:not(:first-child):last-child {
  --autopilot-color: var(--autopilot-muted-color);
  --autopilot-font-weight: unset;

  font-size: 1rem;
}

:where(ol, ul) li {
  margin-bottom: calc(var(--autopilot-typography-spacing-vertical) * 0.25);
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
  margin-top: calc(var(--autopilot-typography-spacing-vertical) * 0.25);
}

ul li {
  list-style: square;
}

mark {
  padding: 0.125rem 0.25rem;
  background-color: var(--autopilot-mark-background-color);
  color: var(--autopilot-mark-color);
  vertical-align: baseline;
}

blockquote {
  display: block;
  margin: var(--autopilot-typography-spacing-vertical) 0;
  padding: var(--autopilot-spacing);
  border-right: none;
  border-left: 0.25rem solid var(--autopilot-blockquote-border-color);
  border-inline-start: 0.25rem solid var(--autopilot-blockquote-border-color);
  border-inline-end: none;
}

blockquote footer {
  margin-top: calc(var(--autopilot-typography-spacing-vertical) * 0.5);
  color: var(--autopilot-blockquote-footer-color);
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

ins {
  color: var(--autopilot-ins-color);
  text-decoration: none;
}

del {
  color: var(--autopilot-del-color);
}

::selection {
  background-color: var(--autopilot-text-selection-color);
}

::selection {
  background-color: var(--autopilot-text-selection-color);
}









/*
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-variation-settings: "wght" var(--text-weight), "wdth" var(--text-width);

  &::selection {
    color: var(--color-sheet);
    background-color: var(--color-text);
  }
}

html {
  font-size: 10px;
  min-height: 100dvh;
  background-color: var(--color-sheet);
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
  overflow-x: clip;
  font-family: var(--text-main);
  font-size: var(--text-base);
  line-height: var(--text-leading-fluid);
  background-color: var(--color-sheet);
}

animate-on-scroll {
  display: contents;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, pre, blockquote) {
  line-height: var(--text-leading-fluid);
}

h1 {
  --text-weight: 300;

  margin: var(--space-xl) 0 var(--space-m) 0;
  font-size: var(--text-xxl);
  letter-spacing: var(--text-spacing-s);
}

h2 {
  --text-weight: 500;
  --text-width: var(--text-width-s);

  margin: var(--space-l) 0 var(--space-s) 0;
  font-size: var(--text-xl);
  text-transform: uppercase;
  border-bottom: var(--border-weight-s) solid var(--color-text);
}

h3 {
  --text-weight: 500;
  --text-width: var(--text-width-s);

  margin: var(--space-m) 0 0 0;
  font-size: var(--text-l);
  text-transform: uppercase;
}

:where(h4, h5, h6) {
  --text-weight: 400;
  --text-width: var(--text-width-s);

  margin: var(--space-s) 0 0 0;
  font-size: var(--text-m);
  text-transform: uppercase;
}

:where(p, ul, ol, dl) {
  margin: 0 0 var(--space-s) 0;
  font-weight: var(--text-weight-base);
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

li {
  position: relative;

  &:where(li + li) {
    margin: var(--space-xs) 0 0 0;
  }

  & :where(ul, ol) {
    margin-left: var(--space-m);
    font-size: var(--text-m);
  }
}

b,
strong {
  --text-weight: 500;
}

i,
em {
  font-style: italic;
}

small {
  font-size: var(--text-s);
}

a,
a:visited {
  color: var(--color-text);
  text-decoration-thickness: var(--border-weight-s);
  transition: text-decoration-thickness 0.1s ease;
}

a:hover {
  text-decoration-thickness: var(--border-weight-m);
}

code {
  --bg-color: var(--color-text-hsl);
  --alpha: 10%;

  font-family: var(--text-main);
  padding: var(--space-xs);
  padding-top: calc(var(--space-xxs) * 1.375);
  border-radius: var(--border-radius-s);
  background-color: hsl(var(--bg-color) / var(--alpha));
}

blockquote {
  margin: var(--space-l) 0;
  font-size: var(--text-m);
  font-style: italic;
}

:where(img, embed, object, svg, video) {
  max-width: 100%;
  height: auto;
  line-height: var(--text-leading-fluid);
}

hr {
  width: 100%;
  margin: var(--space-xl) 0;
  border: 0;
  border-top: var(--border-weight-s) solid var(--color-text);
} */
