/**
 * Basics form elements
 */
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 1rem;
  line-height: var(--autopilot-line-height);
  font-family: inherit;
  letter-spacing: inherit;
}

input {
  overflow: visible;
}

select {
  text-transform: none;
}

legend {
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-focusring {
  outline: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-ms-expand {
  display: none;
}

[type=file],
[type=range] {
  padding: 0;
  border-width: 0;
}

input:not([type=checkbox], [type=radio], [type=range]) {
  height: calc(1rem * var(--autopilot-line-height) + var(--autopilot-form-element-spacing-vertical) * 2 + var(--autopilot-border-width) * 2);
}

fieldset {
  width: 100%;
  margin: 0;
  margin-bottom: var(--autopilot-spacing);
  padding: 0;
  border: 0;
}

label,
fieldset legend {
  display: block;
  margin-bottom: calc(var(--autopilot-spacing) * 0.375);
  color: var(--autopilot-color);
  font-weight: var(--autopilot-form-label-font-weight, var(--autopilot-font-weight));
}

fieldset legend {
  margin-bottom: calc(var(--autopilot-spacing) * 0.5);
}

input:not([type=checkbox], [type=radio]),
button[type=submit],
select,
textarea {
  width: 100%;
}

input:not([type=checkbox], [type=radio], [type=range], [type=file]),
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: var(--autopilot-form-element-spacing-vertical) var(--autopilot-form-element-spacing-horizontal);
}

input,
select,
textarea {
  --autopilot-background-color: var(--autopilot-form-element-background-color);
  --autopilot-border-color: var(--autopilot-form-element-border-color);
  --autopilot-color: var(--autopilot-form-element-color);
  --autopilot-box-shadow: none;
  border: var(--autopilot-border-width) solid var(--autopilot-border-color);
  border-radius: var(--autopilot-border-radius);
  outline: none;
  background-color: var(--autopilot-background-color);
  box-shadow: var(--autopilot-box-shadow);
  color: var(--autopilot-color);
  font-weight: var(--autopilot-font-weight);
  transition: background-color var(--autopilot-transition), border-color var(--autopilot-transition), color var(--autopilot-transition), box-shadow var(--autopilot-transition);
}

input:not([type=submit],
  [type=button],
  [type=reset],
  [type=checkbox],
  [type=radio],
  [readonly]):is(:active, :focus),
:where(select, textarea):not([readonly]):is(:active, :focus) {
  --autopilot-background-color: var(--autopilot-form-element-active-background-color);
}

input:not([type=submit], [type=button], [type=reset], [role=switch], [readonly]):is(:active, :focus),
:where(select, textarea):not([readonly]):is(:active, :focus) {
  --autopilot-border-color: var(--autopilot-form-element-active-border-color);
}

input:not([type=submit],
  [type=button],
  [type=reset],
  [type=range],
  [type=file],
  [readonly]):focus,
:where(select, textarea):not([readonly]):focus {
  --autopilot-box-shadow: 0 0 0 var(--autopilot-outline-width) var(--autopilot-form-element-focus-color);
}

input:not([type=submit], [type=button], [type=reset])[disabled],
select[disabled],
textarea[disabled],
label[aria-disabled=true],
:where(fieldset[disabled]) :is(input:not([type=submit], [type=button], [type=reset]), select, textarea) {
  opacity: var(--autopilot-form-element-disabled-opacity);
  pointer-events: none;
}

label[aria-disabled=true] input[disabled] {
  opacity: 1;
}

:where(input, select, textarea):not([type=checkbox],
  [type=radio],
  [type=date],
  [type=datetime-local],
  [type=month],
  [type=time],
  [type=week],
  [type=range])[aria-invalid] {
  padding-right: calc(var(--autopilot-form-element-spacing-horizontal) + 1.5rem) !important;
  padding-left: var(--autopilot-form-element-spacing-horizontal);
  padding-inline-start: var(--autopilot-form-element-spacing-horizontal) !important;
  padding-inline-end: calc(var(--autopilot-form-element-spacing-horizontal) + 1.5rem) !important;
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}

:where(input, select, textarea):not([type=checkbox],
  [type=radio],
  [type=date],
  [type=datetime-local],
  [type=month],
  [type=time],
  [type=week],
  [type=range])[aria-invalid=false]:not(select) {
  background-image: var(--autopilot-icon-valid);
}

:where(input, select, textarea):not([type=checkbox],
  [type=radio],
  [type=date],
  [type=datetime-local],
  [type=month],
  [type=time],
  [type=week],
  [type=range])[aria-invalid=true]:not(select) {
  background-image: var(--autopilot-icon-invalid);
}

:where(input, select, textarea)[aria-invalid=false] {
  --autopilot-border-color: var(--autopilot-form-element-valid-border-color);
}

:where(input, select, textarea)[aria-invalid=false]:is(:active, :focus) {
  --autopilot-border-color: var(--autopilot-form-element-valid-active-border-color) !important;
}

:where(input, select, textarea)[aria-invalid=false]:is(:active, :focus):not([type=checkbox], [type=radio]) {
  --autopilot-box-shadow: 0 0 0 var(--autopilot-outline-width) var(--autopilot-form-element-valid-focus-color) !important;
}

:where(input, select, textarea)[aria-invalid=true] {
  --autopilot-border-color: var(--autopilot-form-element-invalid-border-color);
}

:where(input, select, textarea)[aria-invalid=true]:is(:active, :focus) {
  --autopilot-border-color: var(--autopilot-form-element-invalid-active-border-color) !important;
}

:where(input, select, textarea)[aria-invalid=true]:is(:active, :focus):not([type=checkbox], [type=radio]) {
  --autopilot-box-shadow: 0 0 0 var(--autopilot-outline-width) var(--autopilot-form-element-invalid-focus-color) !important;
}

[dir=rtl] :where(input, select, textarea):not([type=checkbox], [type=radio]):is([aria-invalid], [aria-invalid=true], [aria-invalid=false]) {
  background-position: center left 0.75rem;
}

input::placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder,
select:invalid {
  color: var(--autopilot-form-element-placeholder-color);
  opacity: 1;
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
  margin-bottom: var(--autopilot-spacing);
}

select::-ms-expand {
  border: 0;
  background-color: transparent;
}

select:not([multiple], [size]) {
  padding-right: calc(var(--autopilot-form-element-spacing-horizontal) + 1.5rem);
  padding-left: var(--autopilot-form-element-spacing-horizontal);
  padding-inline-start: var(--autopilot-form-element-spacing-horizontal);
  padding-inline-end: calc(var(--autopilot-form-element-spacing-horizontal) + 1.5rem);
  background-image: var(--autopilot-icon-chevron);
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}

select[multiple] option:checked {
  background: var(--autopilot-form-element-selected-background-color);
  color: var(--autopilot-form-element-color);
}

[dir=rtl] select:not([multiple], [size]) {
  background-position: center left 0.75rem;
}

textarea {
  display: block;
  resize: vertical;
}

textarea[aria-invalid] {
  --autopilot-icon-height: calc(1rem * var(--autopilot-line-height) + var(--autopilot-form-element-spacing-vertical) * 2 + var(--autopilot-border-width) * 2);
  background-position: top right 0.75rem !important;
  background-size: 1rem var(--autopilot-icon-height) !important;
}

:where(input, select, textarea, fieldset, .grid) + small {
  display: block;
  width: 100%;
  margin-top: calc(var(--autopilot-spacing) * -0.75);
  margin-bottom: var(--autopilot-spacing);
  color: var(--autopilot-muted-color);
}

:where(input, select, textarea, fieldset, .grid)[aria-invalid=false] + small {
  color: var(--autopilot-ins-color);
}

:where(input, select, textarea, fieldset, .grid)[aria-invalid=true] + small {
  color: var(--autopilot-del-color);
}

label > :where(input, select, textarea) {
  margin-top: calc(var(--autopilot-spacing) * 0.25);
}

/**
 * Checkboxes, Radios and Switches
 */
label:has([type=checkbox], [type=radio]) {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

[type=checkbox],
[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  margin-top: -0.125em;
  margin-inline-end: 0.5em;
  border-width: var(--autopilot-border-width);
  vertical-align: middle;
  cursor: pointer;
}

[type=checkbox]::-ms-check,
[type=radio]::-ms-check {
  display: none;
}

[type=checkbox]:checked,
[type=checkbox]:checked:active,
[type=checkbox]:checked:focus,
[type=radio]:checked,
[type=radio]:checked:active,
[type=radio]:checked:focus {
  --autopilot-background-color: var(--autopilot-primary-background);
  --autopilot-border-color: var(--autopilot-primary-border);
  background-image: var(--autopilot-icon-checkbox);
  background-position: center;
  background-size: 0.75em auto;
  background-repeat: no-repeat;
}

[type=checkbox] ~ label,
[type=radio] ~ label {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
}

[type=checkbox] ~ label:not(:last-of-type),
[type=radio] ~ label:not(:last-of-type) {
  margin-inline-end: 1em;
}

[type=checkbox]:indeterminate {
  --autopilot-background-color: var(--autopilot-primary-background);
  --autopilot-border-color: var(--autopilot-primary-border);
  background-image: var(--autopilot-icon-minus);
  background-position: center;
  background-size: 0.75em auto;
  background-repeat: no-repeat;
}

[type=radio] {
  border-radius: 50%;
}

[type=radio]:checked,
[type=radio]:checked:active,
[type=radio]:checked:focus {
  --autopilot-background-color: var(--autopilot-primary-inverse);
  border-width: 0.35em;
  background-image: none;
}

[type=checkbox][role=switch] {
  --autopilot-background-color: var(--autopilot-switch-background-color);
  --autopilot-color: var(--autopilot-switch-color);
  width: 2.25em;
  height: 1.25em;
  border: var(--autopilot-border-width) solid var(--autopilot-border-color);
  border-radius: 1.25em;
  background-color: var(--autopilot-background-color);
  line-height: 1.25em;
}

[type=checkbox][role=switch]:not([aria-invalid]) {
  --autopilot-border-color: var(--autopilot-switch-background-color);
}

[type=checkbox][role=switch]:before {
  display: block;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 50%;
  background-color: var(--autopilot-color);
  box-shadow: var(--autopilot-switch-thumb-box-shadow);
  content: "";
  transition: margin 0.1s ease-in-out;
}

[type=checkbox][role=switch]:focus {
  --autopilot-background-color: var(--autopilot-switch-background-color);
  --autopilot-border-color: var(--autopilot-switch-background-color);
}

[type=checkbox][role=switch]:checked {
  --autopilot-background-color: var(--autopilot-switch-checked-background-color);
  --autopilot-border-color: var(--autopilot-switch-checked-background-color);
  background-image: none;
}

[type=checkbox][role=switch]:checked::before {
  margin-inline-start: calc(2.25em - 1.25em);
}

[type=checkbox][role=switch][disabled] {
  --autopilot-background-color: var(--autopilot-border-color);
}

[type=checkbox][aria-invalid=false]:checked,
[type=checkbox][aria-invalid=false]:checked:active,
[type=checkbox][aria-invalid=false]:checked:focus,
[type=checkbox][role=switch][aria-invalid=false]:checked,
[type=checkbox][role=switch][aria-invalid=false]:checked:active,
[type=checkbox][role=switch][aria-invalid=false]:checked:focus {
  --autopilot-background-color: var(--autopilot-form-element-valid-border-color);
}

[type=checkbox]:checked[aria-invalid=true],
[type=checkbox]:checked:active[aria-invalid=true],
[type=checkbox]:checked:focus[aria-invalid=true],
[type=checkbox][role=switch]:checked[aria-invalid=true],
[type=checkbox][role=switch]:checked:active[aria-invalid=true],
[type=checkbox][role=switch]:checked:focus[aria-invalid=true] {
  --autopilot-background-color: var(--autopilot-form-element-invalid-border-color);
}

[type=checkbox][aria-invalid=false]:checked,
[type=checkbox][aria-invalid=false]:checked:active,
[type=checkbox][aria-invalid=false]:checked:focus,
[type=radio][aria-invalid=false]:checked,
[type=radio][aria-invalid=false]:checked:active,
[type=radio][aria-invalid=false]:checked:focus,
[type=checkbox][role=switch][aria-invalid=false]:checked,
[type=checkbox][role=switch][aria-invalid=false]:checked:active,
[type=checkbox][role=switch][aria-invalid=false]:checked:focus {
  --autopilot-border-color: var(--autopilot-form-element-valid-border-color);
}

[type=checkbox]:checked[aria-invalid=true],
[type=checkbox]:checked:active[aria-invalid=true],
[type=checkbox]:checked:focus[aria-invalid=true],
[type=radio]:checked[aria-invalid=true],
[type=radio]:checked:active[aria-invalid=true],
[type=radio]:checked:focus[aria-invalid=true],
[type=checkbox][role=switch]:checked[aria-invalid=true],
[type=checkbox][role=switch]:checked:active[aria-invalid=true],
[type=checkbox][role=switch]:checked:focus[aria-invalid=true] {
  --autopilot-border-color: var(--autopilot-form-element-invalid-border-color);
}
