/* ----------------------------------------------------------------------------
the drop logo
---------------------------------------------------------------------------- */

.logo {
	p {
		color: var(--autopilot-muted-color);
	}

	& svg {
		width: 100%;
		height: auto;
		min-width: 6rem;
	}
}
