/* ----------------------------------------------------------------------------
the drop logo
---------------------------------------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;
.logo {
	p {
	 @apply text-slate-400 text-sm;
	}

	& svg {
		width: 100%;
		height: auto;
		min-width: 6rem;
	}
}
