/* Rods from God */
@media all and (width >=56.25em) {
  .rfg::after,
  .rfg::before {
    content: "";
    display: block;
    position: absolute;
    height: 50vh;
    width: 2px;
    top: -50%;
    left: 20vw;
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0, rgb(var(--autopilot-animated-rgb), .35) 75%, hsla(0, 0%, 0%, 0) 0);
    animation: rods-from-god var(--autopilot-rods-from-god) cubic-bezier(.4, .26, 0, .97) 0s infinite forwards;

    /* background: red; */
    z-index: -1
  }
}

.rfg::before {
  animation-delay: 2s;
  left: 40vw
}

@keyframes rods-from-god {
  0% {
    top: -50%
  }

  100% {
    top: 100%
  }
}

.rfg--right::after {
  animation-delay: 4s;
  left: 60vw
}

.rfg--right::before {
  animation-delay: 6s;
  left: 80vw
}
