/**
 * Table
 */
:where(table) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

th,
td {
  padding: calc(var(--autopilot-spacing) / 2) var(--autopilot-spacing);
  border-bottom: var(--autopilot-border-width) solid var(--autopilot-table-border-color);
  background-color: var(--autopilot-background-color);
  color: var(--autopilot-color);
  font-weight: var(--autopilot-font-weight);
  text-align: left;
  text-align: start;
}

tfoot th,
tfoot td {
  border-top: var(--autopilot-border-width) solid var(--autopilot-table-border-color);
  border-bottom: 0;
}

table.striped tbody tr:nth-child(odd) th,
table.striped tbody tr:nth-child(odd) td {
  background-color: var(--autopilot-table-row-stripped-background-color);
}
