// Config
// This file configures PicoCSS.
// @see for full list of options https://v2.picocss.com/docs/sass#custom-theme
//

@use "pico" with ($css-var-prefix: "--autopilot-",
  $enable-semantic-container: true,
  $enable-classes: true,
  $theme-color: "indigo",
  $modules: ("themes/default": false, ));

// Autopilot Theme
@use "themes/autopilot";
