// Config
// This file configures PicoCSS.
// @see for full list of options https://v2.picocss.com/docs/sass#custom-theme
//

@use "pico" with ($css-var-prefix: "--autopilot-",
  $enable-semantic-container: true,
  $enable-classes: true,
  $theme-color: "sand",
  $modules: ("themes/default": true,
  ));

// Autopilot Theme
// @use "themes/default"; WIP - trying to figure out paths
@use "themes/autopilot/vendors/_vendors"
