/** Color schemes */


[data-theme="light"],
:root:not([data-theme="dark"]) {
  --clip-text-color-1: rebeccapurple;
  --clip-text-color-2: hotpink;
  --clip-text-color-3: firebrick;
  --autopilot-animated-rgb: 192,
    96,
    20;
  --autopilot-background-color: #fff;
  --autopilot-color: #373c44;
  --autopilot-text-selection-color: rgb(148 134 225 / 25%);
  --autopilot-muted-color: #646b79;
  --autopilot-muted-border-color: #e7eaf0;
  --autopilot-primary: #655cd6;
  --autopilot-primary-background: #524ed2;
  --autopilot-primary-border: var(--autopilot-primary-background);
  --autopilot-primary-underline: rgb(101 92 214 / 50%);
  --autopilot-primary-hover: #4040bf;
  --autopilot-primary-hover-background: #4040bf;
  --autopilot-primary-hover-border: var(--autopilot-primary-hover-background);
  --autopilot-primary-hover-underline: var(--autopilot-primary-hover);
  --autopilot-primary-focus: rgb(148 134 225 / 50%);
  --autopilot-primary-inverse: #fff;
  --autopilot-secondary: #5d6b89;
  --autopilot-secondary-background: #525f7a;
  --autopilot-secondary-border: var(--autopilot-secondary-background);
  --autopilot-secondary-underline: rgb(93 107 137 / 50%);
  --autopilot-secondary-hover: #48536b;
  --autopilot-secondary-hover-background: #48536b;
  --autopilot-secondary-hover-border: var(--autopilot-secondary-hover-background);
  --autopilot-secondary-hover-underline: var(--autopilot-secondary-hover);
  --autopilot-secondary-focus: rgb(93 107 137 / 25%);
  --autopilot-secondary-inverse: #fff;
  --autopilot-contrast: #181c25;
  --autopilot-contrast-background: #181c25;
  --autopilot-contrast-border: var(--autopilot-contrast-background);
  --autopilot-contrast-underline: rgb(24 28 37 / 50%);
  --autopilot-contrast-hover: #000;
  --autopilot-contrast-hover-background: #000;
  --autopilot-contrast-hover-border: var(--autopilot-contrast-hover-background);
  --autopilot-contrast-hover-underline: var(--autopilot-secondary-hover);
  --autopilot-contrast-focus: rgb(93 107 137 / 25%);
  --autopilot-contrast-inverse: #fff;
  --autopilot-box-shadow: 0.0145rem 0.029rem 0.174rem rgb(129 145 181 / 1.7%),
    0.0335rem 0.067rem 0.402rem rgb(129 145 181 / 2.4%),
    0.0625rem 0.125rem 0.75rem rgb(129 145 181 / 3%),
    0.1125rem 0.225rem 1.35rem rgb(129 145 181 / 3.6%),
    0.2085rem 0.417rem 2.502rem rgb(129 145 181 / 4.3%),
    0.5rem 1rem 6rem rgb(129 145 181 / 6%),
    0 0 0 0.0625rem rgb(129 145 181 / 1.5%);
  --autopilot-h1-color: #2d3138;
  --autopilot-h2-color: #373c44;
  --autopilot-h3-color: #424751;
  --autopilot-h4-color: #4d535e;
  --autopilot-h5-color: #5c6370;
  --autopilot-h6-color: #646b79;
  --autopilot-mark-background-color: #fde7c0;
  --autopilot-mark-color: #0f1114;
  --autopilot-ins-color: #1d6a54;
  --autopilot-del-color: #883935;
  --autopilot-blockquote-border-color: var(--autopilot-muted-border-color);
  --autopilot-blockquote-footer-color: var(--autopilot-muted-color);
  --autopilot-button-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
  --autopilot-button-hover-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
  --autopilot-table-border-color: var(--autopilot-muted-border-color);
  --autopilot-table-row-stripped-background-color: rgb(111 120 135 / 3.75%);
  --autopilot-code-background-color: #f3f5f7;
  --autopilot-code-color: #646b79;
  --autopilot-code-kbd-background-color: var(--autopilot-color);
  --autopilot-code-kbd-color: var(--autopilot-background-color);
  --autopilot-form-element-background-color: #fbfcfc;
  --autopilot-form-element-selected-background-color: #dfe3eb;
  --autopilot-form-element-border-color: #cfd5e2;
  --autopilot-form-element-color: #23262c;
  --autopilot-form-element-placeholder-color: var(--autopilot-muted-color);
  --autopilot-form-element-active-background-color: #fff;
  --autopilot-form-element-active-border-color: var(--autopilot-primary-border);
  --autopilot-form-element-focus-color: var(--autopilot-primary-border);
  --autopilot-form-element-disabled-opacity: 0.5;
  --autopilot-form-element-invalid-border-color: #b86a6b;
  --autopilot-form-element-invalid-active-border-color: #c84f48;
  --autopilot-form-element-invalid-focus-color: var(--autopilot-form-element-invalid-active-border-color);
  --autopilot-form-element-valid-border-color: #4c9b8a;
  --autopilot-form-element-valid-active-border-color: #279977;
  --autopilot-form-element-valid-focus-color: var(--autopilot-form-element-valid-active-border-color);
  --autopilot-switch-background-color: #bfc7d9;
  --autopilot-switch-checked-background-color: var(--autopilot-primary-background);
  --autopilot-switch-color: #fff;
  --autopilot-switch-thumb-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
  --autopilot-range-border-color: #dfe3eb;
  --autopilot-range-active-border-color: #bfc7d9;
  --autopilot-range-thumb-border-color: var(--autopilot-background-color);
  --autopilot-range-thumb-color: var(--autopilot-secondary-background);
  --autopilot-range-thumb-active-color: var(--autopilot-primary-background);
  --autopilot-accordion-border-color: var(--autopilot-muted-border-color);
  --autopilot-accordion-active-summary-color: var(--autopilot-primary-hover);
  --autopilot-accordion-close-summary-color: var(--autopilot-color);
  --autopilot-accordion-open-summary-color: var(--autopilot-muted-color);
  --autopilot-card-background-color: var(--autopilot-background-color);
  --autopilot-card-border-color: var(--autopilot-muted-border-color);
  --autopilot-card-box-shadow: var(--autopilot-box-shadow);
  --autopilot-card-sectioning-background-color: #fbfcfc;
  --autopilot-dropdown-background-color: #fff;
  --autopilot-dropdown-border-color: #eff1f4;
  --autopilot-dropdown-box-shadow: var(--autopilot-box-shadow);
  --autopilot-dropdown-color: var(--autopilot-color);
  --autopilot-dropdown-hover-background-color: #eff1f4;
  --autopilot-loading-spinner-opacity: 0.5;
  --autopilot-modal-overlay-background-color: rgb(232 234 237 / 75%);
  --autopilot-progress-background-color: #dfe3eb;
  --autopilot-progress-color: var(--autopilot-primary-background);
  --autopilot-tooltip-background-color: var(--autopilot-contrast-background);
  --autopilot-tooltip-color: var(--autopilot-contrast-inverse);
  --autopilot-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(76, 155, 138)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --autopilot-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(200, 79, 72)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");

  color-scheme: light;

  .theme-toggle {
    .solar-eclipse {
      display: block;
    }

    .lunar-eclipse {
      display: none;
    }
  }
}



[data-theme="light"] input:is([type="submit"],
  [type="button"],
  [type="reset"],
  [type="checkbox"],
  [type="radio"],
  [type="file"]),
:root:not([data-theme="dark"]) input:is([type="submit"],
  [type="button"],
  [type="reset"],
  [type="checkbox"],
  [type="radio"],
  [type="file"]) {
  --autopilot-form-element-focus-color: var(--autopilot-primary-focus);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --autopilot-animated-rgb: 82, 78, 210;
    --autopilot-background-color: #13171f;
    --autopilot-color: #c2c7d0;
    --autopilot-text-selection-color: rgb(162 148 229 / 18.8%);
    --autopilot-muted-color: #7b8495;
    --autopilot-muted-border-color: #202632;
    --autopilot-primary: #a294e5;
    --autopilot-primary-background: #524ed2;
    --autopilot-primary-border: var(--autopilot-primary-background);
    --autopilot-primary-underline: rgb(162 148 229 / 50%);
    --autopilot-primary-hover: #bdb2ec;
    --autopilot-primary-hover-background: #655cd6;
    --autopilot-primary-hover-border: var(--autopilot-primary-hover-background);
    --autopilot-primary-hover-underline: var(--autopilot-primary-hover);
    --autopilot-primary-focus: rgb(162 148 229 / 37.5%);
    --autopilot-primary-inverse: #fff;
    --autopilot-secondary: #969eaf;
    --autopilot-secondary-background: #525f7a;
    --autopilot-secondary-border: var(--autopilot-secondary-background);
    --autopilot-secondary-underline: rgb(150 158 175 / 50%);
    --autopilot-secondary-hover: #b3b9c5;
    --autopilot-secondary-hover-background: #5d6b89;
    --autopilot-secondary-hover-border: var(--autopilot-secondary-hover-background);
    --autopilot-secondary-hover-underline: var(--autopilot-secondary-hover);
    --autopilot-secondary-focus: rgb(144 158 190 / 25%);
    --autopilot-secondary-inverse: #fff;
    --autopilot-contrast: #dfe3eb;
    --autopilot-contrast-background: #eff1f4;
    --autopilot-contrast-border: var(--autopilot-contrast-background);
    --autopilot-contrast-underline: rgb(223 227 235 / 50%);
    --autopilot-contrast-hover: #fff;
    --autopilot-contrast-hover-background: #fff;
    --autopilot-contrast-hover-border: var(--autopilot-contrast-hover-background);
    --autopilot-contrast-hover-underline: var(--autopilot-contrast-hover);
    --autopilot-contrast-focus: rgb(207 213 226 / 25%);
    --autopilot-contrast-inverse: #000;
    --autopilot-box-shadow: 0.0145rem 0.029rem 0.174rem rgb(7 9 12 / 1.7%), 0.0335rem 0.067rem 0.402rem rgb(7 9 12 / 2.4%), 0.0625rem 0.125rem 0.75rem rgb(7 9 12 / 3%), 0.1125rem 0.225rem 1.35rem rgb(7 9 12 / 3.6%), 0.2085rem 0.417rem 2.502rem rgb(7 9 12 / 4.3%), 0.5rem 1rem 6rem rgb(7 9 12 / 6%), 0 0 0 0.0625rem rgb(7 9 12 / 1.5%);
    --autopilot-h1-color: #f0f1f3;
    --autopilot-h2-color: #e0e3e7;
    --autopilot-h3-color: #c2c7d0;
    --autopilot-h4-color: #b3b9c5;
    --autopilot-h5-color: #a4acba;
    --autopilot-h6-color: #8891a4;
    --autopilot-mark-background-color: #014063;
    --autopilot-mark-color: #fff;
    --autopilot-ins-color: #62af9a;
    --autopilot-del-color: #ce7e7b;
    --autopilot-blockquote-border-color: var(--autopilot-muted-border-color);
    --autopilot-blockquote-footer-color: var(--autopilot-muted-color);
    --autopilot-button-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
    --autopilot-button-hover-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
    --autopilot-table-border-color: var(--autopilot-muted-border-color);
    --autopilot-table-row-stripped-background-color: rgb(111 120 135 / 3.75%);
    --autopilot-code-background-color: #1a1f28;
    --autopilot-code-color: #8891a4;
    --autopilot-code-kbd-background-color: var(--autopilot-color);
    --autopilot-code-kbd-color: var(--autopilot-background-color);
    --autopilot-form-element-background-color: #1c212c;
    --autopilot-form-element-selected-background-color: #2a3140;
    --autopilot-form-element-border-color: #2a3140;
    --autopilot-form-element-color: #e0e3e7;
    --autopilot-form-element-placeholder-color: #8891a4;
    --autopilot-form-element-active-background-color: #1a1f28;
    --autopilot-form-element-active-border-color: var(--autopilot-primary-border);
    --autopilot-form-element-focus-color: var(--autopilot-primary-border);
    --autopilot-form-element-disabled-opacity: 0.5;
    --autopilot-form-element-invalid-border-color: #964a50;
    --autopilot-form-element-invalid-active-border-color: #b7403b;
    --autopilot-form-element-invalid-focus-color: var(--autopilot-form-element-invalid-active-border-color);
    --autopilot-form-element-valid-border-color: #2a7b6f;
    --autopilot-form-element-valid-active-border-color: #16896a;
    --autopilot-form-element-valid-focus-color: var(--autopilot-form-element-valid-active-border-color);
    --autopilot-switch-background-color: #333c4e;
    --autopilot-switch-checked-background-color: var(--autopilot-primary-background);
    --autopilot-switch-color: #fff;
    --autopilot-switch-thumb-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
    --autopilot-range-border-color: #202632;
    --autopilot-range-active-border-color: #2a3140;
    --autopilot-range-thumb-border-color: var(--autopilot-background-color);
    --autopilot-range-thumb-color: var(--autopilot-secondary-background);
    --autopilot-range-thumb-active-color: var(--autopilot-primary-background);
    --autopilot-accordion-border-color: var(--autopilot-muted-border-color);
    --autopilot-accordion-active-summary-color: var(--autopilot-primary-hover);
    --autopilot-accordion-close-summary-color: var(--autopilot-color);
    --autopilot-accordion-open-summary-color: var(--autopilot-muted-color);
    --autopilot-card-background-color: #181c25;
    --autopilot-card-border-color: var(--autopilot-card-background-color);
    --autopilot-card-box-shadow: var(--autopilot-box-shadow);
    --autopilot-card-sectioning-background-color: #1a1f28;
    --autopilot-dropdown-background-color: #181c25;
    --autopilot-dropdown-border-color: #202632;
    --autopilot-dropdown-box-shadow: var(--autopilot-box-shadow);
    --autopilot-dropdown-color: var(--autopilot-color);
    --autopilot-dropdown-hover-background-color: #202632;
    --autopilot-loading-spinner-opacity: 0.5;
    --autopilot-modal-overlay-background-color: rgb(8 9 10 / 75%);
    --autopilot-progress-background-color: #202632;
    --autopilot-progress-color: var(--autopilot-primary-background);
    --autopilot-tooltip-background-color: var(--autopilot-contrast-background);
    --autopilot-tooltip-color: var(--autopilot-contrast-inverse);
    --autopilot-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(42, 123, 111)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --autopilot-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(150, 74, 80)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");

    color-scheme: dark;
  }

  :root:not([data-theme]) input:is([type="submit"],
    [type="button"],
    [type="reset"],
    [type="checkbox"],
    [type="radio"],
    [type="file"]) {
    --autopilot-form-element-focus-color: var(--autopilot-primary-focus);
  }

  :root:not([data-theme]) details summary[role="button"].contrast:not(.outline)::after {
    filter: brightness(0);
  }

  :root:not([data-theme]) [aria-busy="true"]:not(input, select, textarea).contrast:is(button,
    [type="submit"],
    [type="button"],
    [type="reset"],
    [role="button"]):not(.outline)::before {
    filter: brightness(0);
  }

  .theme-toggle {
    .solar-eclipse {
      display: none;
    }

    .lunar-eclipse {
      display: block;
    }

  }
}

[data-theme="dark"] {
  --clip-text-color-1: hotpink;
  --clip-text-color-2: blanchedalmond;
  --clip-text-color-3: plum;
  --autopilot-animated-rgb: 82, 78, 210;
  --autopilot-background-color: #13171f;
  --autopilot-color: #c2c7d0;
  --autopilot-text-selection-color: rgb(162 148 229 / 18.8%);
  --autopilot-muted-color: #7b8495;
  --autopilot-muted-border-color: #202632;
  --autopilot-primary: #a294e5;
  --autopilot-primary-background: #524ed2;
  --autopilot-primary-border: var(--autopilot-primary-background);
  --autopilot-primary-underline: rgb(162 148 229 / 50%);
  --autopilot-primary-hover: #bdb2ec;
  --autopilot-primary-hover-background: #655cd6;
  --autopilot-primary-hover-border: var(--autopilot-primary-hover-background);
  --autopilot-primary-hover-underline: var(--autopilot-primary-hover);
  --autopilot-primary-focus: rgb(162 148 229 / 37.5%);
  --autopilot-primary-inverse: #fff;
  --autopilot-secondary: #969eaf;
  --autopilot-secondary-background: #525f7a;
  --autopilot-secondary-border: var(--autopilot-secondary-background);
  --autopilot-secondary-underline: rgb(150 158 175 / 50%);
  --autopilot-secondary-hover: #b3b9c5;
  --autopilot-secondary-hover-background: #5d6b89;
  --autopilot-secondary-hover-border: var(--autopilot-secondary-hover-background);
  --autopilot-secondary-hover-underline: var(--autopilot-secondary-hover);
  --autopilot-secondary-focus: rgb(144 158 190 / 25%);
  --autopilot-secondary-inverse: #fff;
  --autopilot-contrast: #dfe3eb;
  --autopilot-contrast-background: #eff1f4;
  --autopilot-contrast-border: var(--autopilot-contrast-background);
  --autopilot-contrast-underline: rgb(223 227 235 / 50%);
  --autopilot-contrast-hover: #fff;
  --autopilot-contrast-hover-background: #fff;
  --autopilot-contrast-hover-border: var(--autopilot-contrast-hover-background);
  --autopilot-contrast-hover-underline: var(--autopilot-contrast-hover);
  --autopilot-contrast-focus: rgb(207 213 226 / 25%);
  --autopilot-contrast-inverse: #000;
  --autopilot-box-shadow: 0.0145rem 0.029rem 0.174rem rgb(7 9 12 / 1.7%), 0.0335rem 0.067rem 0.402rem rgb(7 9 12 / 2.4%), 0.0625rem 0.125rem 0.75rem rgb(7 9 12 / 3%), 0.1125rem 0.225rem 1.35rem rgb(7 9 12 / 3.6%), 0.2085rem 0.417rem 2.502rem rgb(7 9 12 / 4.3%), 0.5rem 1rem 6rem rgb(7 9 12 / 6%), 0 0 0 0.0625rem rgb(7 9 12 / 1.5%);
  --autopilot-h1-color: #f0f1f3;
  --autopilot-h2-color: #e0e3e7;
  --autopilot-h3-color: #c2c7d0;
  --autopilot-h4-color: #b3b9c5;
  --autopilot-h5-color: #a4acba;
  --autopilot-h6-color: #8891a4;
  --autopilot-mark-background-color: #014063;
  --autopilot-mark-color: #fff;
  --autopilot-ins-color: #62af9a;
  --autopilot-del-color: #ce7e7b;
  --autopilot-blockquote-border-color: var(--autopilot-muted-border-color);
  --autopilot-blockquote-footer-color: var(--autopilot-muted-color);
  --autopilot-button-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
  --autopilot-button-hover-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
  --autopilot-table-border-color: var(--autopilot-muted-border-color);
  --autopilot-table-row-stripped-background-color: rgb(111 120 135 / 3.75%);
  --autopilot-code-background-color: #1a1f28;
  --autopilot-code-color: #8891a4;
  --autopilot-code-kbd-background-color: var(--autopilot-color);
  --autopilot-code-kbd-color: var(--autopilot-background-color);
  --autopilot-form-element-background-color: #1c212c;
  --autopilot-form-element-selected-background-color: #2a3140;
  --autopilot-form-element-border-color: #2a3140;
  --autopilot-form-element-color: #e0e3e7;
  --autopilot-form-element-placeholder-color: #8891a4;
  --autopilot-form-element-active-background-color: #1a1f28;
  --autopilot-form-element-active-border-color: var(--autopilot-primary-border);
  --autopilot-form-element-focus-color: var(--autopilot-primary-border);
  --autopilot-form-element-disabled-opacity: 0.5;
  --autopilot-form-element-invalid-border-color: #964a50;
  --autopilot-form-element-invalid-active-border-color: #b7403b;
  --autopilot-form-element-invalid-focus-color: var(--autopilot-form-element-invalid-active-border-color);
  --autopilot-form-element-valid-border-color: #2a7b6f;
  --autopilot-form-element-valid-active-border-color: #16896a;
  --autopilot-form-element-valid-focus-color: var(--autopilot-form-element-valid-active-border-color);
  --autopilot-switch-background-color: #333c4e;
  --autopilot-switch-checked-background-color: var(--autopilot-primary-background);
  --autopilot-switch-color: #fff;
  --autopilot-switch-thumb-box-shadow: 0 0 0 rgb(0 0 0 / 0%);
  --autopilot-range-border-color: #202632;
  --autopilot-range-active-border-color: #2a3140;
  --autopilot-range-thumb-border-color: var(--autopilot-background-color);
  --autopilot-range-thumb-color: var(--autopilot-secondary-background);
  --autopilot-range-thumb-active-color: var(--autopilot-primary-background);
  --autopilot-accordion-border-color: var(--autopilot-muted-border-color);
  --autopilot-accordion-active-summary-color: var(--autopilot-primary-hover);
  --autopilot-accordion-close-summary-color: var(--autopilot-color);
  --autopilot-accordion-open-summary-color: var(--autopilot-muted-color);
  --autopilot-card-background-color: #181c25;
  --autopilot-card-border-color: var(--autopilot-card-background-color);
  --autopilot-card-box-shadow: var(--autopilot-box-shadow);
  --autopilot-card-sectioning-background-color: #1a1f28;
  --autopilot-dropdown-background-color: #181c25;
  --autopilot-dropdown-border-color: #202632;
  --autopilot-dropdown-box-shadow: var(--autopilot-box-shadow);
  --autopilot-dropdown-color: var(--autopilot-color);
  --autopilot-dropdown-hover-background-color: #202632;
  --autopilot-loading-spinner-opacity: 0.5;
  --autopilot-modal-overlay-background-color: rgb(8 9 10 / 75%);
  --autopilot-progress-background-color: #202632;
  --autopilot-progress-color: var(--autopilot-primary-background);
  --autopilot-tooltip-background-color: var(--autopilot-contrast-background);
  --autopilot-tooltip-color: var(--autopilot-contrast-inverse);
  --autopilot-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(42, 123, 111)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --autopilot-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(150, 74, 80)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");

  color-scheme: dark;

  .theme-toggle {
    .solar-eclipse {
      display: none;
    }

    .lunar-eclipse {
      display: block;
    }
  }
}

[data-theme="dark"] input:is([type="submit"],
  [type="button"],
  [type="reset"],
  [type="checkbox"],
  [type="radio"],
  [type="file"]) {
  --autopilot-form-element-focus-color: var(--autopilot-primary-focus);
}

[data-theme="dark"] details summary[role="button"].contrast:not(.outline)::after {
  filter: brightness(0);
}

[data-theme="dark"] [aria-busy="true"]:not(input, select, textarea).contrast:is(button,
  [type="submit"],
  [type="button"],
  [type="reset"],
  [role="button"]):not(.outline)::before {
  filter: brightness(0);
}
