<footer>
  <hr>
  <small class="text --size-xxs">{% copyright %}
    {{ site.title }}&nbsp;•&nbsp;<a
      href="https://github.com//edheltzel/flightdeck-for-11ty-esbuild/"
      title="{{ site.title }} version">{% version %}</a>
  </small>
</footer>
