<footer>
  <sub class="copyright">{% copyright %}
    {{ site.title }}&nbsp;•&nbsp;<a
      href="https://github.com//edheltzel/flightdeck-for-11ty-esbuild/"
      title="{{ site.title }} version">{% version %}</a>
  </sub>
</footer>
