<footer>
  <hr>
  <small class="text --size-xxs">{% copyright %}
    {{ site.title }}&nbsp;•&nbsp;<a
      href="https://github.com//edheltzel/flightdeck/"
      title="{{ site.title }} version" >{% version %}</a>
      • {% email address="email@example.com", honeypot="nospam" %}
  </small>
</footer>
