<nav class="container-fluid">
  <ul>
    <li>
      <a href="/" class="contrast logo">
        <strong>🚀 Flightdeck</strong>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a class="contrast" href="/blog/">Blog</a>
    </li>
    <li>
      <a class="contrast" href="/style-guide/">Style Guide</a>
    </li>
    <li>
      <a class="contrast" href="/404/">404 Page</a>
    </li>
    <li>
      <a class="contrast" href="/test-page/">Test Page</a>
    </li>
    <li>
      {% include "components/button-themeSwitcher.njk" %}
    </li>
  </ul>
</nav>
