<nav class="container-fluid">
  <ul>
    <li><a href="/" class="contrast"><strong>🚀 Flightdeck</strong></a></li>
  </ul>
  <ul>
    <li><a class="contrast" href="/blog/">Blog</a></li>
    <li><a class="contrast" href="/style-guide/">Style Guide</a></li>
    <li><a class="contrast" href="/404/">404 Page</a></li>
    <li><a class="contrast" href="/test-page/">Test Page</a></li>
    <div class="user-toggle">
      <div role="status" class="u-visually-hidden js-mode-status"></div>
      <button class="toggle-button js-mode-toggle">
        <span class="toggle-button__text js-mode-toggle-text">Dark mode</span>
      </button>
    </div>
  </ul>
</nav>
